@import "../../../../styles/colors.module";

.trades-made {
  $self: &;

  display: grid;
  grid-gap: 8px;

  &__row {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-gap: 8px;
    transition: opacity .3s;
  }

  &__cell {
    padding: 8px;
    background: rgba(black, .1);

    &--sale {
      background: #ff7918;
      color: #FFF;
    }

    &--buy {
      background: #1d96c5;
      color: #FFF;
    }

    &--unusual {
      color: $unusual;
    }

    &--currency {
      min-width: 150px;

      span + span {
        margin-left: 4px;
      }
    }
  }

  &:hover {
    #{$self}__row:not(:hover) {
      opacity: .8;
    }
  }
}
