.filter {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

  &__field {
    & + & {
      margin-top: 20px;
    }

    &-title {
      font-size: 16px;
      color: #333;
    }
  }

  &__slider {
    width: 100%;
  }
}
