@import "../../../styles/colors.module";

.item {
  background-color: $unusual;
  border-radius: 4px;
  height: 120px;
  overflow: hidden;
  padding: 12px;
  position: relative;
  transition: background-color .3s;
  z-index: 1;

  &__img-wrapper {
    height: 96px;
    left: 28px;
    position: absolute;
    top: 20px;
    width: 96px;
    z-index: -1;
    transition: transform .3s;
    transition-delay: .3s;

    &--effect {
      height: 120px;
      width: 120px;
      left: 22px;
      top: 0;
    }
  }

  &__img {
    width: 100%;
    object-fit: contain;
  }

  &__name {
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    padding: 8px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__price {
    background: rgba(0,0,0,.2);
    border-radius: 4px;
    bottom: 4px;
    color: #FFF;
    font-size: 12px;
    padding: 4px 8px;
    position: absolute;
    right: 4px;
  }

  &:hover {
    background-color: lighten($unusual, 10);
  }
}
