@import "../../../../../../../../styles/colors.module";

.view {
  display: grid;
  grid-gap: 20px;

  &__info {
    background: #fff;
    padding: 20px;
  }

  &__page-title {
    color: #333;
    font-size: 24px;
  }

  &__img {
    align-items: center;
    background: $unusual;
    border-radius: 4px;
    display: flex;
    height: 150px;
    justify-content: center;
    margin-top: 8px;
    width: 150px;
    position: relative;
    z-index: 1;
  }

  &__effect-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-charts {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr 9fr;
    height: 400px;

    &__user {
      background: #fff;
      min-height: 100%;
      padding: 20px;
    }

    &__user-name {
      font-size: 16px;
      color: #333;
      margin-top: 8px;
    }
  }
}
